@import 'mixin';

.detail-section{
  /* drop down motion */
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
  &.active{
    max-height: 100%;
  }
  .inner{
    width: 85%;
    margin: 0 auto;
    color: #fff;
    padding:10px;
    padding-top: 40px;
    border-radius: 10px;
    color: #fff;
    background: rgba(#000,0.2);
    ul{
      li{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 5px 0;
        border-bottom: 1px dotted #fff;
        h3{
          margin-right: 10px;
          padding: 5px 10px;
          border-radius: 30px;
          background: rgba(#000,0.2);
        }//h3
        p{
          b{
            margin-right: 3px;
            font-size: 1.3em;
            font-weight: 600;
          }
          sup{
            font-size: 0.8em;
          }
        }//p
        q{
          display: block;
          width: 100%;
          margin-top: 7px;
          box-sizing: border-box;
          padding: 5px;
          border-radius: 10px;
          font-size: 0.8em;
          text-align: center;
          background: rgba(#FFF,0.2);
          &::before,&::after{display: none;}
        }//q
      }//li
    }//ul
  }//inner
}//section