@import 'mixin';
body{
  background-image:url(../img/main/weather-icos.gif); 
  animation: bgmove 5000s linear infinite;
  @keyframes bgmove {
    0%{background-position: 0 center;}
    100%{background-position: -50000px center}
  }
}
#root{
  @include position-center;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 700px;
  background-color: #8ed1f1;
  //background-image: url(../img/weather/Clear.jpg); 스크립트 처리
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 15px rgba(#000,0.3);
  overflow: hidden;
  main.app-container{
    overflow: auto;
    height: 100%;
  }//app-container
  h2{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px 15px;
    border-radius: 50px;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    background: rgba(#000,0.2);
    color: #fff;
    .icon{
      margin-right: 10px;
      width: 30px;
      border-radius: 50%;
    }
    i{
      font-size: 0.8em;
      margin-right: 5px;
    }
  }//h2
}//root